        </main>
        <footer>
            <div class="container">
                <div class="footer_content">
                    <div class="footer_left">
                        <a class="footer_logo logo" href="/">
                            <svg width="76" height="78" viewBox="0 0 76 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M45.006 8.71412C42.587 9.47006 39.5633 10.5284 38.3538 10.8308C35.0276 11.8891 41.2263 15.6688 48.181 16.8783C52.8678 17.6342 54.6821 17.1807 56.7987 14.7616C59.2177 12.0403 59.2177 11.7379 56.9499 9.77244C53.775 7.20224 50.6 6.89986 45.006 8.71412Z" fill="white"/>
                                <path d="M44.1716 5.34905C45.0396 4.43774 46.098 3.25246 46.5498 2.82756C47.7389 1.56682 44.1715 1.57577 40.8811 2.81924C38.6776 3.68131 37.9999 4.31865 37.6533 5.83124C37.247 7.54233 37.318 7.66538 38.7601 7.89918C40.7363 8.15269 42.1797 7.48337 44.1716 5.34905Z" fill="white"/>
                                <path d="M26.7124 18.8438C24.1422 20.3556 20.5137 23.833 18.6995 26.4032C15.9781 30.1829 15.6757 31.5436 17.0364 34.2649C18.5483 36.8351 19.7578 37.2887 23.3863 36.5328C25.9565 36.0792 28.5267 35.6256 29.2826 35.6256C30.0386 35.6256 29.8874 34.2649 28.8291 32.6019C27.3172 30.3341 27.3172 29.2757 28.6779 27.915C31.0969 25.496 35.3302 27.3103 36.2373 31.2412C36.9932 34.1138 37.9004 34.4161 44.7038 33.6602C55.287 32.2995 59.5203 28.0662 54.2287 23.6818C51.5073 21.414 36.8421 15.9712 33.6671 15.9712C32.4576 15.9712 29.2826 17.3319 26.7124 18.8438Z" fill="white"/>
                                <path d="M42.2851 38.1958C39.7149 40.6148 41.6803 49.6861 47.2743 61.0252C50.4492 67.8286 52.7171 73.4226 51.9611 73.4226C51.3564 73.4226 48.635 70.3988 45.9136 66.6191C43.3434 62.9906 40.4708 59.5133 39.7149 59.0597C38.3542 58.1526 34.2721 66.0144 31.5507 74.4809C30.4924 77.8071 30.7948 77.9583 39.5637 77.9583C53.3218 77.9583 63.4514 75.0857 67.6847 70.0965C71.0108 66.1656 76 53.0122 76 48.4766C76 44.6968 69.9525 41.5219 58.7646 39.4053C45.46 36.8351 43.6458 36.6839 42.2851 38.1958Z" fill="white"/>
                                <path d="M16.2804 43.3362C11.2912 44.848 6.15079 47.1159 4.7901 48.1742C-4.13001 55.1288 -0.501491 63.8977 14.9197 72.2131C20.6649 75.3881 25.8053 77.9583 26.2588 77.9583C27.7707 77.9583 32.1552 59.0597 32.1552 52.5586C32.1552 48.7789 31.0968 45.604 29.1314 43.4873C27.3171 41.6731 25.8053 40.1612 25.6541 40.3124C25.5029 40.3124 21.2696 41.6731 16.2804 43.3362Z" fill="white"/>
                            </svg>
                            <svg class="text" width="189" height="32" viewBox="0 0 189 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.5 27H15.78L14.31 22.77H5.37L3.9 27H0.15L7.77 6H11.91L19.5 27ZM9.84 10.05L6.51 19.53H13.17L9.84 10.05ZM22.2082 6H29.9482C31.9282 6 33.5782 6.66 34.8982 7.98C36.2382 9.3 36.9082 10.94 36.9082 12.9C36.9082 14.84 36.2382 16.48 34.8982 17.82C33.5782 19.14 31.9282 19.8 29.9482 19.8H25.6582V27H22.2082V6ZM25.6582 16.56H29.9482C30.9682 16.56 31.8082 16.22 32.4682 15.54C33.1282 14.84 33.4582 13.96 33.4582 12.9C33.4582 11.84 33.1282 10.97 32.4682 10.29C31.8082 9.59 30.9682 9.24 29.9482 9.24H25.6582V16.56ZM56.4035 27H52.9535V12.75L43.0535 27H40.3535V6H43.8035V20.25L53.7035 6H56.4035V27ZM70.9777 27.39C67.8177 27.39 65.1977 26.35 63.1177 24.27C61.0377 22.15 59.9977 19.56 59.9977 16.5C59.9977 13.42 61.0377 10.84 63.1177 8.76C65.1777 6.66 67.7977 5.61 70.9777 5.61C72.8777 5.61 74.6277 6.06 76.2277 6.96C77.8477 7.86 79.1077 9.08 80.0077 10.62L77.0077 12.36C76.4477 11.32 75.6277 10.5 74.5477 9.9C73.4877 9.28 72.2977 8.97 70.9777 8.97C68.7577 8.97 66.9377 9.68 65.5177 11.1C64.1377 12.5 63.4477 14.3 63.4477 16.5C63.4477 18.7 64.1377 20.5 65.5177 21.9C66.9377 23.32 68.7577 24.03 70.9777 24.03C72.2977 24.03 73.4977 23.73 74.5777 23.13C75.6577 22.51 76.4677 21.68 77.0077 20.64L80.0077 22.35C79.1477 23.87 77.8977 25.1 76.2577 26.04C74.6777 26.94 72.9177 27.39 70.9777 27.39ZM81.5273 6H96.8273V9.3H90.9173V27H87.4673V9.3H81.5273V6ZM116.177 24.24C114.077 26.34 111.507 27.39 108.467 27.39C105.427 27.39 102.847 26.34 100.727 24.24C98.6273 22.12 97.5773 19.54 97.5773 16.5C97.5773 13.46 98.6273 10.89 100.727 8.79C102.847 6.67 105.427 5.61 108.467 5.61C111.507 5.61 114.077 6.67 116.177 8.79C118.297 10.89 119.357 13.46 119.357 16.5C119.357 19.54 118.297 22.12 116.177 24.24ZM103.157 21.9C104.617 23.32 106.387 24.03 108.467 24.03C110.567 24.03 112.327 23.32 113.747 21.9C115.187 20.46 115.907 18.66 115.907 16.5C115.907 14.34 115.187 12.55 113.747 11.13C112.327 9.69 110.567 8.97 108.467 8.97C106.367 8.97 104.597 9.69 103.157 11.13C101.737 12.55 101.027 14.34 101.027 16.5C101.027 18.64 101.737 20.44 103.157 21.9ZM144.3 0.399998H148.974V27H144.604V8.038L136.51 21.414H135.978L127.884 8V27H123.514V0.399998H128.226L136.244 13.7L144.3 0.399998ZM157.738 18.03V23.7H167.038V27H154.288V6H166.888V9.3H157.738V14.76H166.138V18.03H157.738ZM186.396 6V23.7H188.646V31.02H185.196V27H172.446V31.02H168.996V23.7H170.946C172.166 22.12 172.776 19.71 172.776 16.47V6H186.396ZM174.726 23.7H182.946V9.24H176.226V16.53C176.226 19.65 175.726 22.04 174.726 23.7Z" fill="white"/>
                            </svg>
                        </a>
                        <p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone.</p>
                        <a>Лицензия, лицензия</a>
                    </div>
                    <div class="footer_right">
                        <h3>Контакты</h3>
                        <div class="footer_contacts">
                            <div class="footer_contacts__tels">
                                <div class="tel">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.0149 13.0905C14.5712 12.9593 13.7837 14.928 12.7337 15.453C11.0274 16.3718 7.87742 13.0905 7.87742 13.0905C7.87742 13.0905 4.59617 9.94051 5.38367 8.23426C6.03992 7.18426 8.00867 6.39676 7.87742 4.95301C7.74617 3.64051 4.85867 -1.08449 3.41492 0.22801C0.26492 3.11551 0.00242055 4.29676 0.00242055 6.65926C-0.128829 10.728 5.12117 15.8468 5.12117 15.8468C5.64617 16.3718 10.2399 21.0968 14.3087 20.9655C16.6712 20.9655 17.8524 20.703 20.7399 17.553C22.0524 16.1093 17.4587 13.2218 16.0149 13.0905V13.0905Z" fill="#ffffff"/></svg>
                                    <div class="editble" data-page="footer" data-name="phone1"><%-footer.phone1%></div>
                                </div>
                                <div class="tel">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.0149 13.0905C14.5712 12.9593 13.7837 14.928 12.7337 15.453C11.0274 16.3718 7.87742 13.0905 7.87742 13.0905C7.87742 13.0905 4.59617 9.94051 5.38367 8.23426C6.03992 7.18426 8.00867 6.39676 7.87742 4.95301C7.74617 3.64051 4.85867 -1.08449 3.41492 0.22801C0.26492 3.11551 0.00242055 4.29676 0.00242055 6.65926C-0.128829 10.728 5.12117 15.8468 5.12117 15.8468C5.64617 16.3718 10.2399 21.0968 14.3087 20.9655C16.6712 20.9655 17.8524 20.703 20.7399 17.553C22.0524 16.1093 17.4587 13.2218 16.0149 13.0905V13.0905Z" fill="#ffffff"/></svg>
                                    <div class="editble" data-page="footer" data-name="phone2"><%-footer.phone2%></div>
                                </div>
                            </div>
                            <div class="footer_contacts__other">
                                <div class="geo">
                                    <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.94509 0C3.11553 0 0 3.11553 0 6.94509C0 7.98946 0.226219 8.99317 0.672192 9.92902C0.681169 9.94903 0.690595 9.96869 0.700649 9.98835L5.94802 20.1483C6.14067 20.5212 6.52533 20.7555 6.945 20.7555C7.36476 20.7555 7.74942 20.5213 7.94198 20.1483L13.1879 9.99114C13.197 9.97363 13.2054 9.95595 13.2135 9.93808C13.6624 8.99955 13.89 7.99278 13.89 6.94509C13.8902 3.11553 10.7746 0 6.94509 0ZM6.94509 10.5803C4.94063 10.5803 3.30988 8.94954 3.30988 6.94509C3.30988 4.94072 4.94063 3.30997 6.94509 3.30997C8.94955 3.30997 10.5803 4.94072 10.5803 6.94509C10.5803 8.94954 8.94955 10.5803 6.94509 10.5803Z" fill="white"/>
                                    </svg>
                                    <div class="editble" data-page="footer" data-name="geo"><%-footer.geo%></div>
                                </div>
                                <div class="mail">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.7129 3.27368C20.4169 2.84023 19.9192 2.55377 19.3574 2.55377H1.64259C1.09265 2.55377 0.606371 2.83005 0.308105 3.24841L10.5325 11.7738L20.7129 3.27368Z" fill="#ffffff"/> <path d="M0.00195312 4.70135V16.8056C0.00195312 17.7079 0.740234 18.4462 1.64258 18.4462H19.3574C20.2597 18.4462 20.998 17.7079 20.998 16.8056V4.745L10.5325 13.4826L0.00195312 4.70135Z" fill="#ffffff"/></svg>
                                    <div class="editble" data-page="footer" data-name="mail"><%-footer.mail%></div>
                                </div>
                            </div>
                        </div>
                        <div class="copyright">
                            ©Aristomed 2021
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <%resources.js.forEach(el => {%> <script type="module" src=<%=el%>></script><%})%>
        <script type="module" src="/js/main.js"></script>
    </body>
</html>
