<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <% resources.css.forEach(el => { %> <link rel="stylesheet" href=<%=el%>> <% }) %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <title><%=title%></title>
</head>

<%
const links = [
    {
        href: "/",
        name: "Главная"
    },
    {
        href: "/about",
        name: "О нас"
    },
    {
        href: "/doctors",
        name: "Врачи"
    },
    {
        href: "/services",
        name: "Услуги и цены"
    },
    {
        href: "/online",
        name: "Онлайн-прием"
    },
    {
        href: "/sales",
        name: "Акции"
    },
    {
        href: "/contacts",
        name: "Контакты"
    }
]
%>

<body>
<header
        style="<%if(linkActive === "/"){%>background: url('../images/BG.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
        <%}%>">
    <div class="container">
        <div class="header_wrapper">
            <div class="left_header">
                <a class="logo" href="/">
                    <svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.7684 5.76377C28.1684 6.26377 26.1684 6.96377 25.3684 7.16377C23.1684 7.86377 27.2684 10.3638 31.8684 11.1638C34.9684 11.6638 36.1684 11.3638 37.5684 9.76377C39.1684 7.96377 39.1684 7.76377 37.6684 6.46377C35.5684 4.76377 33.4684 4.56377 29.7684 5.76377Z" fill="#6A9470"/>
                        <path d="M29.2163 3.53801C29.7904 2.93524 30.4905 2.15126 30.7893 1.87023C31.5759 1.03634 29.2162 1.04226 27.0399 1.86472C25.5824 2.43492 25.1342 2.85648 24.9049 3.85694C24.6362 4.9887 24.6832 5.07009 25.637 5.22474C26.9441 5.39241 27.8988 4.94971 29.2163 3.53801Z" fill="#6A9470"/>
                        <path d="M17.6682 12.4638C15.9682 13.4638 13.5682 15.7638 12.3682 17.4638C10.5682 19.9638 10.3682 20.8638 11.2682 22.6638C12.2682 24.3638 13.0682 24.6638 15.4682 24.1638C17.1682 23.8638 18.8682 23.5638 19.3682 23.5638C19.8682 23.5638 19.7682 22.6638 19.0682 21.5638C18.0682 20.0638 18.0682 19.3638 18.9682 18.4638C20.5682 16.8638 23.3682 18.0638 23.9682 20.6638C24.4682 22.5638 25.0682 22.7638 29.5682 22.2638C36.5682 21.3638 39.3682 18.5638 35.8682 15.6638C34.0682 14.1638 24.3682 10.5638 22.2682 10.5638C21.4682 10.5638 19.3682 11.4638 17.6682 12.4638Z" fill="#6A9470"/>
                        <path d="M27.9685 25.2637C26.2685 26.8637 27.5685 32.8637 31.2685 40.3637C33.3685 44.8637 34.8685 48.5637 34.3685 48.5637C33.9685 48.5637 32.1685 46.5637 30.3685 44.0637C28.6685 41.6637 26.7685 39.3637 26.2685 39.0637C25.3685 38.4637 22.6685 43.6637 20.8685 49.2637C20.1685 51.4637 20.3685 51.5637 26.1685 51.5637C35.2685 51.5637 41.9685 49.6637 44.7685 46.3637C46.9685 43.7637 50.2685 35.0637 50.2685 32.0637C50.2685 29.5637 46.2685 27.4637 38.8685 26.0637C30.0685 24.3637 28.8685 24.2637 27.9685 25.2637Z" fill="#6A9470"/>
                        <path d="M10.7683 28.6637C7.4683 29.6637 4.0683 31.1637 3.1683 31.8637C-2.7317 36.4637 -0.3317 42.2637 9.8683 47.7637C13.6683 49.8637 17.0683 51.5637 17.3683 51.5637C18.3683 51.5637 21.2683 39.0637 21.2683 34.7637C21.2683 32.2637 20.5683 30.1637 19.2683 28.7637C18.0683 27.5637 17.0683 26.5637 16.9683 26.6637C16.8683 26.6637 14.0683 27.5637 10.7683 28.6637Z" fill="#6A9470"/>
                    </svg>
                    <svg class="text" width="136" height="22" viewBox="0 0 136 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.3 19H11.572L10.494 15.898H3.938L2.86 19H0.11L5.698 3.6H8.734L14.3 19ZM7.216 6.57L4.774 13.522H9.658L7.216 6.57ZM16.066 3.6H21.742C23.194 3.6 24.404 4.084 25.372 5.052C26.3547 6.02 26.846 7.22267 26.846 8.66C26.846 10.0827 26.3547 11.2853 25.372 12.268C24.404 13.236 23.194 13.72 21.742 13.72H18.596V19H16.066V3.6ZM18.596 11.344H21.742C22.49 11.344 23.106 11.0947 23.59 10.596C24.074 10.0827 24.316 9.43733 24.316 8.66C24.316 7.88267 24.074 7.24467 23.59 6.746C23.106 6.23267 22.49 5.976 21.742 5.976H18.596V11.344ZM40.9226 19H38.3926V8.55L31.1326 19H29.1526V3.6H31.6826V14.05L38.9426 3.6H40.9226V19ZM51.3903 19.286C49.073 19.286 47.1516 18.5233 45.6263 16.998C44.1009 15.4433 43.3383 13.544 43.3383 11.3C43.3383 9.04133 44.1009 7.14933 45.6263 5.624C47.137 4.084 49.0583 3.314 51.3903 3.314C52.7836 3.314 54.067 3.644 55.2403 4.304C56.4283 4.964 57.3523 5.85867 58.0123 6.988L55.8123 8.264C55.4016 7.50133 54.8003 6.9 54.0083 6.46C53.231 6.00533 52.3583 5.778 51.3903 5.778C49.7623 5.778 48.4276 6.29867 47.3863 7.34C46.3743 8.36667 45.8683 9.68667 45.8683 11.3C45.8683 12.9133 46.3743 14.2333 47.3863 15.26C48.4276 16.3013 49.7623 16.822 51.3903 16.822C52.3583 16.822 53.2383 16.602 54.0303 16.162C54.8223 15.7073 55.4163 15.0987 55.8123 14.336L58.0123 15.59C57.3816 16.7047 56.465 17.6067 55.2623 18.296C54.1036 18.956 52.813 19.286 51.3903 19.286ZM58.9067 3.6H70.1267V6.02H65.7927V19H63.2627V6.02H58.9067V3.6ZM84.0967 16.976C82.5567 18.516 80.6721 19.286 78.4427 19.286C76.2134 19.286 74.3214 18.516 72.7667 16.976C71.2267 15.4213 70.4567 13.5293 70.4567 11.3C70.4567 9.07067 71.2267 7.186 72.7667 5.646C74.3214 4.09133 76.2134 3.314 78.4427 3.314C80.6721 3.314 82.5567 4.09133 84.0967 5.646C85.6514 7.186 86.4287 9.07067 86.4287 11.3C86.4287 13.5293 85.6514 15.4213 84.0967 16.976ZM74.5487 15.26C75.6194 16.3013 76.9174 16.822 78.4427 16.822C79.9827 16.822 81.2734 16.3013 82.3147 15.26C83.3707 14.204 83.8987 12.884 83.8987 11.3C83.8987 9.716 83.3707 8.40333 82.3147 7.362C81.2734 6.306 79.9827 5.778 78.4427 5.778C76.9027 5.778 75.6047 6.306 74.5487 7.362C73.5074 8.40333 72.9867 9.716 72.9867 11.3C72.9867 12.8693 73.5074 14.1893 74.5487 15.26ZM103.965 0.0999987H107.286V19H104.181V5.527L98.4305 15.031H98.0525L92.3015 5.5V19H89.1965V0.0999987H92.5445L98.2415 9.55L103.965 0.0999987ZM113.37 12.422V16.58H120.19V19H110.84V3.6H120.08V6.02H113.37V10.024H119.53V12.422H113.37ZM134.166 3.6V16.58H135.816V21.948H133.286V19H123.936V21.948H121.406V16.58H122.836C123.731 15.4213 124.178 13.654 124.178 11.278V3.6H134.166ZM125.608 16.58H131.636V5.976H126.708V11.322C126.708 13.61 126.341 15.3627 125.608 16.58Z" fill="#6A9470"/>
                    </svg>
                </a>
                <div class="contact_header">
                    <div class="editble" data-page="header" data-name="contactsHeader"><%-headerText.contactsHeader%></div>
                </div>
            </div>
            <nav class="header_nav">
                <ul>
                    <li>
                        <a class="<% if(linkActive === "/services") {%> active <%}%>" href="/services">Услуги и цены</a>
                    </li>
                    <li>
                        <a class="<% if(linkActive === "/doctors") {%> active <%}%>" href="/doctors">Врачи</a>
                    </li>
                    <li>
                        <a class="<% if(linkActive === "/online") {%> active <%}%>" href="/online">Онлайн-прием</a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line"></div>
                    <div class="sub_menu">
                        <ul>
                            <%links.forEach((el) => {%>
                                <li>
                                    <a class="<%if(el.href === linkActive){%>active<%}%>" href="<%=el.href%>"><%=el.name%></a>
                                </li>
                            <%})%>
                        </ul>
                    </div>
                </div>
            </nav>
<!--             <input class="main_search_input" type="text">-->
            <%if(user) {%>
            <div class="user_interface">
                <p>Здравствуйте, <b><%= user.name ? user.name : "" %></b></p>
                <div class="exit_account">
                    Выйти
                </div>
            </div>
            <%}%>
        </div>
        <%if(linkActive === "/") {%>
            <section class="greetings_section">
                <h1 class="editble" data-page="main" data-name="GreetingsBlock"><%- pageText.GreetingsBlock %></h1>
                <p class="editble" data-page="main" data-name="GreetingsBlockText"><%- pageText.GreetingsBlockText %></p>
                <a href="https://klientiks.ru/app2/ARISTOMED" class="button rounded greetings_button">Записаться на прием</a>
            </section>
        <%}%>
    </div>
</header>

<main>