<%- include('../components/header') %>
<%- include('../components/breadcrumbs') %>
<%- include('../components/fixed-socials') %>

<div class="about_page">
    <%- include('../components/about') %>
</div>
<%- include('../components/footer') %>