<%- include('../components/header') %>
<%- include('../components/fixed-socials') %>
<%- include('../components/breadcrumbs') %>

<div class="contacts_page">
    <%- include('../components/contacts-component') %>
</div>
<%- include('../components/footer') %>
