<%- include('../components/header') %>
<%- include('../components/fixed-socials') %>
<div>
    <%=currentDoctor.name%>
    <%currentDoctor.medicine_directions.forEach(el => {%>
        <span><%=el.doctorDirectionName%></span>
    <%})%>
</div>
<%- include('../components/footer') %>
