<%- include('../components/header') %>
<%- include('../components/fixed-socials') %>
<div class="container">
    <%allServices[0].services.forEach(el => {%>
    <div>
        <%=el.description%>
        <%=el.price%>
    </div>
    <%})%>
</div>
<%- include('../components/footer') %>