<%- include('../components/header') %>
<%- include('../components/fixed-socials') %>
<div class="container">
    <%directions.forEach(el => {%>
        <a class="button rounded" style="background-color: <%= el.color%>" href="/services/<%=el.urlName%>"><%=el.name%></a>
    <%})%>
</div>
<%- include('../components/footer') %>